*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgba(31, 31, 31, 0.596);
}
.absoluteNav{
    display: flex;
    height: 95px;
    justify-content: space-between;
    padding-inline: 2em;


}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
   
    
}

.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    font-size: 24px;
}

h1{
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 400;
    padding-top: 0.5em;
    color: white;
}


body{
    height: 100vh;
    background-image: url(./img/wallpaperflare\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body .container{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.titleG{
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 23.5rem;
}

.container2 {
    display: flex;
    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.container2 p {
    text-align: center; 
    width: 90%;

}

.textstudio{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center; 
}

.downcontainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.downcontainer img{ 
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;

}